nav {
  height: 63px;
}
nav .nav-tabs {
  position: fixed;
  width: 100%;
  background: #fff;
  border: none;
  border-bottom: 3px solid #dee2e6;
  font-weight: bold;
  .nav-item {
    margin-bottom: -3px;
  }
  .nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 3px solid #dee2e6;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999;
    width: 40%;
    &:nth-child(3){
      width: 20%;
      .fa {
        font-size: 30px;
      }
    }
    span{
      margin-left: 10px;
    }
    .fa {
      font-size: 22px;
    }
    &.active{
      border-color: #ffffff #ffffff green;
      color: #000;
    }
  }
}
.fade {
  transition: none;
}
footer {
  background: #fff;
  border-top: 2px solid #ddd;
  height: 60px;
  &.fixed-bottom {
    padding: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #444;
    .fa {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
}
.container {
  background: #f6f6f6;
  // height: calc(100vh - 63px); /* 63px - высота меню */
}
ul.nav.nav-tabs {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 0 0 30px;
  border-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: -2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  li.nav-item {
    white-space: nowrap;
    .nav-link {
      border: 2px solid #999;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      color: #999;
      &.active {
        border-bottom: 2px solid transparent;
        color: #444444;
      }
    }
  }
}
.tab-content.inner {
  margin: 0px -15px;
  padding: 15px;
  border-top: 2px solid #999;
  background: #fff;
}
